/.gradle/7.2/dependencies-accessors/
/.gradle/
/.idea/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
app/debug/output.json
app/release/output.json
app/stag/debug/output.json
app/stag/debug/output-metadata.json
app/prod/release/output.json
app/prod/release/output-metadata.json
app/prodHuawei/release/output.json
app/prodHuawei/release/output-metadata.json
app/backendStag/debug/output-metadata.json
*.apk
*.aab
gradle/
app/prod/releaseDebugOn/output-metadata.json

