<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp">

        <activity
            android:name=".ui.feature.MainActivity"
            android:exported="true"
            android:label="@string/title_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.feature.basicmodule.BasicActivity" android:exported="false" android:label="@string/title_basic_activity" />
        <activity android:name=".ui.feature.uimodule.UIActivity" android:exported="false" android:label="@string/title_ui_activity" />
        <activity android:name=".ui.feature.datamodule.DataActivity" android:exported="false" android:label="@string/title_data_activity" />

        <!-- basic -->
        <activity android:name=".ui.feature.basicmodule.programming.ProgrammingActivity" android:exported="false" android:label="@string/title_programming_activity" />

        <!-- ui -->
        <activity android:name=".ui.feature.uimodule.layout.LayoutActivity" android:exported="false" android:label="@string/title_layout_activity" />
        <activity android:name=".ui.feature.uimodule.layout.linear.LinearActivity" android:exported="false" android:label="@string/title_linear_activity" />
        <activity android:name=".ui.feature.uimodule.layout.relative.RelativeActivity" android:exported="false" android:label="@string/title_relative_activity" />
        <activity android:name=".ui.feature.uimodule.layout.frame.FrameActivity" android:exported="false" android:label="@string/title_frame_activity" />

        <activity android:name=".ui.feature.uimodule.recycler.RecyclerActivity" android:exported="false" android:label="@string/title_recycler_activity" />
        <activity android:name=".ui.feature.uimodule.recycler.basic.RecyclerBasicActivity" android:exported="false" android:label="@string/title_recycler_basic_activity" />
        <activity android:name=".ui.feature.uimodule.recycler.image.RecyclerImageActivity" android:exported="false" android:label="Recycler Image Activity" />



    </application>

</manifest>